body, html{
	margin: 0;
	padding: 0;
}

.four-images{
    width: 400%;
}
.four-images img{
    width: 25%;
}

div.slider{
	position: relative;
	overflow: hidden;
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
}

div.slider-container{
    left: 0;
	position: relative;
    -o-transition: left 0.3s ease-in;
    -moz-transition: left 0.3s ease-in;
    -webkit-transition: left 0.3s ease-in;
    -ms-transition: left 0.3s ease-in;
    transition: left 0.3s ease-in;
}

div.slider-container img{
	display: block;
	float: left;
}

input.slider-button{
	position: absolute;
	background: #000;
	bottom: 20px;
	opacity: 0;
	z-index: 901;
	cursor: pointer;
	display: inline-block;
}

.slider-button:nth-child(1){
    left: 30px;
    
}

.slider-button:nth-child(3){
    left: 60px;
    
}

.slider-button:nth-child(5){
    left: 90px;
    
}

.slider-button:nth-child(7){
    left: 120px;
}

.slider-button:checked + label{
    background: rgba(255, 255, 255, 0);
	border: 1px solid rgba(255, 255, 255, 1);
}

.slider-button:nth-child(1):checked ~ div.slider-container{
	left: 0;
}

.slider-button:nth-child(3):checked ~ div.slider-container{
	left: -100%;
}

.slider-button:nth-child(5):checked ~ div.slider-container{
	left: -200%;
}

.slider-button:nth-child(7):checked ~ div.slider-container{
	left: -300%;
}


div.slider label{
	position: absolute;
	bottom: 20px;
	border: 1px solid rgba(255, 255, 255, 0.8);
	border-radius: 8px;
	background: rgba(255,255,255, 0.5);
	height: 16px;
	width: 16px;
	z-index: 900;
}

.slider label:nth-child(2){
    left: 30px;
}
.slider label:nth-child(4){
    left: 60px;
}
.slider label:nth-child(6){
    left: 90px;
}
.slider label:nth-child(8){
    left: 120px;
}


@media (max-width: 500px){
    
    
.slider label:nth-child(2){
    left: 30px;
}
.slider label:nth-child(4){
    left: 80px;
}
.slider label:nth-child(6){
    left: 130px;
}
.slider label:nth-child(8){
    left: 180px;
}    
    
.slider-button:nth-child(1){
    left: 30px;
    
}

.slider-button:nth-child(3){
    left: 80px;
    
}

.slider-button:nth-child(5){
    left: 130px;
    
}

.slider-button:nth-child(7){
    left: 180px;
}
    
    
    
    
}

